@font-face {
    font-family: "SF Mono";
    src: url(../fonts/SFMono-Regular.otf)
}
:root {
    --font-color: #393090;
    --main-color: #89a2a9;
}

* {
    margin: 0;
    padding: 0;
    font-family: "SF Mono", sans-serif;
    color: var(--font-color);
    box-sizing: border-box;
}

body {
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

main {
    border-radius: 2rem;
    min-width: 80%;
    padding: 2%;
    align-self: center;
    background: linear-gradient(145deg, #7b9298, #93adb5);
    box-shadow:  5px 5px 15px #748a90, 
                 -5px -5px 15px #9ebac2;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    margin: 0 0 2rem 0;
}

#roundsBox {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 1rem 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
}

#mainGame {
    background: linear-gradient(145deg, #7b9298, #93adb5);
    box-shadow: inset 5px 5px 15px #748a90, 
                inset -5px -5px 15px #9ebac2;
    border-radius: 1.5rem;
    padding: 3% 0;
}

input {
    margin: 1.5rem 0 1rem 0;
}

#resultBox {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 2rem auto;
}

#restartBox {
    display: flex;
    justify-content: center;
}

#restartBox #restart {
    margin: 2rem 0 0 0;
}

/* .notDisplayed {
    display: none;
} */

button {
    border: none;
    color: var(--main-color);
    background: var(--font-color);
    padding: 1% 2%;
    border-radius: .5rem;
    transition: background .5s ease;
}

button:focus {
    outline: none;
}

button:hover {
    background: #fff;
}

/* Custom Radio Buttons */

[type="radio"]:checked, [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked+label, [type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 1.75rem;
    cursor: pointer;
    line-height: 1.25rem;
    display: inline-block;
}

[type="radio"]:checked+label:before, [type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.125rem;
    height: 1.125rem;
    border: 1px solid #fff;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked+label:after, [type="radio"]:not(:checked)+label:after {
    content: '';
    width: .75rem;
    height: .75rem;
    background: var(--main-color);
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    transform: scale(1);
}


@media only screen and (max-width: 1024px) {
    h1, h2 {
        font-size: .9rem;
    }
}

@media only screen and (max-width: 768px) {
    button {
        font-size: .6rem;
    }
    [type="radio"]:checked+label:before, [type="radio"]:not(:checked)+label:before {
        width: .75rem;
        height: .75rem;
    }
    [type="radio"]:checked+label:after, [type="radio"]:not(:checked)+label:after {
        width: .5rem;
        height: .5rem;
        top: 3.5px;
        left: 3.5px;
    }
    #icons img {
        max-width: 5rem;
        border-radius: .6rem;
    }
    p {
        font-size: .6rem;
    }
}

@media only screen and (max-width: 320px) {
    main {
        border-radius: 1rem;
        margin: 1rem;
        background: linear-gradient(145deg, #17427a, #1b4e92);
    box-shadow: 5px 5px 15px #153e74, -5px -5px 15px #1d549c;
    }

    h1, h2 {
        font-size: .6rem;
    }

    h1 {
        line-height: 1rem;
    }

    h2 {
        margin: 1rem 0 1rem 0;
        line-height: 1rem
    }

    #roundsBox {
        margin: 0 0 1rem 0;
    }

    #mainGame {
        padding: 1rem 1rem;
    }
    #mainGame div h1:nth-of-type(1) {
        margin: 0 0 0 0;
    }
    #icons img {
        max-width: 3.5rem;
        border-radius: .3rem;
        margin: 0 1rem;
    }
    p {
        font-size: .5rem;
        line-height: .7rem;
        padding: 0 .2rem;
    }
    button {
        padding: 4%;
        margin: 0 0 1rem 0;
    }
    #mainGame {
        border-radius: 1rem;
    }

    label {
        font-size: .8rem;
    }

    [type="radio"]:checked+label:before, [type="radio"]:not(:checked)+label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: .75rem;
        height: .75rem;
        border: 1px solid #fff;
        border-radius: 100%;
        background: #fff;
    }
    
    [type="radio"]:checked+label:after, [type="radio"]:not(:checked)+label:after {
        content: '';
        width: .5rem;
        height: .5rem;
        background: var(--main-color);
        position: absolute;
        top: 3px;
        left: 3px;
        border-radius: 100%;
        transition: all 0.2s ease;
    }
}